@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", sans-serif;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
}

section {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;

  width: 900px;
  height: auto;
  margin: 0 auto;

  padding: 30px;
  background-color: var(--white);

  border-radius: 20px;
}

.get-tip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  color: var(--very-dark-cyan);
}

.percentage-blocks {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 30%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.percentage-blocks p {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;

  color: var(--white);
  background-color: var(--very-dark-cyan);

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.percentage-blocks p:hover {
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
}

#custom-tip {
  text-align: center;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
}

#custom-tip::placeholder,
#num-people::placeholder,
#bill::placeholder {
  color: var(--very-dark-cyan);
}

#num-people,
#bill {
  width: 100%;
  text-align: right;
  font-size: 24px;

  padding: 5px 20px;

  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);

  border: none;
  border-radius: 5px;
}

.input-icons svg {
  position: relative;
}

.input-icons {
  width: 100%;
}

.icon {
  left: 20px;
  top: 36px;

  min-width: 40px;
}

.numPeople--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.people-empty-field {
  color: red;
  display: none;
}

.display-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  padding: 40px 30px;
  background-color: var(--very-dark-cyan);

  border-radius: 20px;
}

.tip-text {
  font-size: 14px;
}

.tip-text h3 {
  color: var(--white);
}

.tip-text p {
  color: var(--light-grayish-cyan);
}

.tip-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-person-num,
.total-amount-num {
  font-size: 42px;
  color: var(--strong-cyan);
}

.btn-reset {
  text-transform: uppercase;
  margin-top: 90px;

  font-size: 16px;

  color: var(--dark-grayish-cyan);
  background-color: hsl(183, 78%, 23%);

  border: none;
  padding: 10px;
  border-radius: 10px;

  cursor: pointer;
}

.btn-reset:hover {
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
    gap: 20px;
  }

  .select-tip {
    margin-block: 40px;
  }

  .percentage-blocks {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr;
  }

  section {
    display: block;

    width: 650px;
    height: auto;

    padding: 40px;
  }

  .display-results {
    margin-top: 20px;
    padding: 50px;
  }

  .tip-text {
    font-size: 12px;
  }

  .total-person-num,
  .total-amount-num {
    font-size: 32px;
    color: var(--strong-cyan);
  }

  .btn-reset {
    margin: 0px;
  }
}

@media screen and (max-width: 430px) {
  section {
    width: 350px;
    padding: 25px;
  }

  .display-results {
    padding: 30px;
  }
}
