@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "DM-Sans", sans-serif;

  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  overflow: hidden;

  min-height: 100vh;
  background-color: var(--cream);
}

header,
.seven-days-chart {
  width: 500px;
  padding: 30px;
  border: none;
  border-radius: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--soft-red);
}

header .my-balance {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: var(--cream);
}

.my-balance p {
  font-size: 14px;
}

.my-balance .balance {
  font-weight: 700;
  font-size: 36px;
}

.seven-days-chart {
  background-color: var(--very-pale-orange);
}

.seven-days-chart h2 {
  color: var(--dark-brown);
  font-weight: 700;
  font-size: 26px;
}

.week-status {
  margin-block: 20px;
}

.mon,
.tue,
.thu,
.fri,
.wed,
.sat,
.sun {
  border-radius: 6px;
  background-color: var(--soft-red);
}

.wed {
  background-color: var(--cyan);
}

.day-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 50px;
  height: 150px;
  gap: 10px;
}

.day-box p {
  color: var(--medium-brown);
}

.day-chart {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  margin-top: 50px;
}

hr {
  margin-block: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.total-container p:nth-child(1) {
  color: var(--medium-brown);
}

.total {
  font-weight: 700;
  font-size: 36px;

  color: var(--dark-brown);
}

.percent p:nth-child(1) {
  text-align: right;
  margin-bottom: 5px;

  font-weight: 700;
  color: var(--dark-brown);
}
.percent p:nth-child(2) {
  font-stretch: 0.2;
  color: var(--medium-brown);
}

p.day-amount {
  font-size: 13px;
  font-weight: 700;

  text-align: center;

  padding: 7px;
  border: none;
  border-radius: 6px;

  background-color: var(--dark-brown);
  color: var(--cream);
}

@media only screen and (max-width: 512px) {
  header,
  .seven-days-chart {
    width: 420px;
  }
}

@media only screen and (max-width: 420px) {
  header,
  .seven-days-chart {
    width: 320px;
  }

  .day-box {
    width: 35px;
  }
  p.day-amount {
    font-size: 8px;
  }
}
