@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

:root {
  --purple-color: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-grey);
  min-height: 100vh;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 600px;
  padding: 30px;
  /* width: 30rem; */
  height: auto;

  border-radius: 20px;
  border-bottom-right-radius: 25%;

  background-color: var(--white);
}

.date-calculator {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="number"] {
  border: 1px solid var(--light-grey);
  border-radius: 8px;

  font-size: 32px;
  padding: 15px;

  width: 120px;
  height: 60px;

  color: var(--smokey-grey);
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.btn-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-line::before {
  content: "";
  width: 450px;
  height: 1px;
  background-color: var(--smokey-grey);
  z-index: 1;
}

.btn-line p {
  opacity: 0.1;
}

button {
  padding: 14px 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;

  background-color: var(--purple-color);
}

button:hover {
  background-color: var(--off-black);
  cursor: pointer;
}

span {
  color: var(--purple-color);
}

.container-date p {
  font-size: 74px;
  color: var(--off-black);
}

.attribution {
  margin-top: 15px;

  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.empty-field {
  color: red;
}

.hidden {
  opacity: 0;
}

.input-empty-field {
  border: 1px solid red;
}

.text-empty-field {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;

  color: red;
}

@media only screen and (max-width: 670) {
  section {
    width: 500px;
  }
  input[type="number"] {
    font-size: 16px;
    width: 100px;
  }
}

@media only screen and (max-width: 480px) {
  section {
    width: 350px;
  }

  input[type="number"] {
    font-size: 16px;
    width: 85px;
  }

  .container-date p {
    font-size: 50px;
  }

  .btn-line::before {
    content: "";
    width: 110px;
    height: 1px;
    background-color: var(--smokey-grey);
    z-index: 1;
  }
  .btn-line::after {
    content: "";
    width: 110px;
    height: 1px;
    background-color: var(--smokey-grey);
    z-index: 1;
  }
}
